        <div class="alert alert-cst-primary d-flex">
            <i class="fas fa-info-circle fa-3x mr-3 align-self-center"></i>
            <div><strong>Note:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sed ab laborum soluta, doloribus neque ad debitis delectus repellendus illo minima! Illum possimus optio numquam magnam quae. Optio, maiores iste!</div>
        </div>

        <div class="alert alert-cst-notification d-flex">
            <i class="fas fa-info-circle fa-3x mr-3 align-self-center"></i>
            <div><strong>Note:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium perspiciatis, recusandae doloremque eius in veritatis sequi quos quaerat sunt corporis atque adipisci! Beatae architecto quaerat suscipit nostrum! Error, fuga ipsum.</div>
        </div>
        
        <div class="alert alert-cst-featured-content d-flex">
            <i class="fas fa-info-circle fa-3x mr-3 align-self-center"></i>
            <div><strong>Note:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam doloribus debitis mollitia iusto quia corporis quidem soluta fugiat similique expedita aliquid vitae veritatis laudantium, quisquam, vero unde libero aut.</div>
        </div>
        
        <div class="alert alert-info d-flex">
            <i class="fas fa-info-circle fa-3x mr-3 align-self-center"></i>
        <div><strong>Note:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam doloribus debitis mollitia iusto quia corporis quidem soluta fugiat similique expedita aliquid vitae veritatis laudantium, quisquam, vero unde libero aut.</div>
        </div>
        

     <table class="table" style="border: 2px solid #dee2e6;">
            <thead>
                <tr class="h3">
                    <th scope="col">Fees</th>
                    <th scope="col" class= "text-right">Price</th>
                </tr>
            </thead>
            <tbody class="text-muted">
                <tr>
                    <td>
                        <div>Passport Book 52-pages</div>
                        <div>Standard book processing</div>
                        <div>Overnight book shipping</div>
                    </td>
                    <td class="text-right">
                        <div>$110.00</div>
                        <div>$0.00</div>
                        <div>$26.66</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Passport Card</div>
                        <div>Standard card processing</div>
                        <div>Overnight card shipping</div>
                    </td>
                    <td class="text-right">
                        <div>$30.00</div>
                        <div>$0.00</div>
                        <div>$0.00</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Acceptance Fee</div>
                    </td>
                    <td class="text-right">
                        <div>$35.00</div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="h3 font-weight-bold">
                    <td>Total</td>
                    <td>$201.66</td>
                </tr>
                <tr class="h4">
                    <td>
                        <div>Payable to State</div>
                        <div>Payable to Acceptance Facility</div>
                    </td>
                    <td class="text-right">
                        <div>$166.66</div>
                        <div>$35.00</div>
                    </td>
                </tr>
            </tfoot>
        </table>
