        <div class="alert alert-cst-primary d-flex">
            <i class="fas fa-info-circle fa-3x mr-3 align-self-center"></i>
            <div><strong>Note:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sed ab laborum soluta, doloribus neque ad debitis delectus repellendus illo minima! Illum possimus optio numquam magnam quae. Optio, maiores iste!</div>
        </div>

        <div class="alert alert-cst-notification d-flex">
            <i class="fas fa-info-circle fa-3x mr-3 align-self-center"></i>
            <div><strong>Note:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium perspiciatis, recusandae doloremque eius in veritatis sequi quos quaerat sunt corporis atque adipisci! Beatae architecto quaerat suscipit nostrum! Error, fuga ipsum.</div>
        </div>
        
        <div class="alert alert-cst-featured-content d-flex">
            <i class="fas fa-info-circle fa-3x mr-3 align-self-center"></i>
            <div><strong>Note:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam doloribus debitis mollitia iusto quia corporis quidem soluta fugiat similique expedita aliquid vitae veritatis laudantium, quisquam, vero unde libero aut.</div>



