<div class="row">
    <div class="col-12">
        <div id="pw-progress-bar" class="d-flex">
            
            <div id="pw-progress-bar-step-previous-passport" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div>Step 1</div>
                            <div class="font-weight-bold">Previous Passport</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-on"></div>
            </div>

            <div id="pw-progress-bar-step-form" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div>Step 2</div>
                            <div class="font-weight-bold">Your Form</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-on"></div>
            </div>

            <div id="pw-progress-bar-step-fees" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div>Step 3</div>
                            <div class="font-weight-bold">Your Fees</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-on"></div>
            </div>

            <div id="pw-progress-bar-step-enter-data" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div>Step 4</div>
                            <div class="font-weight-bold">Enter Data</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-off"></div>
            </div>

            <div id="pw-progress-bar-step-review" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div>Step 5</div>
                            <div class="font-weight-bold">Review Your Info</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-off"></div>
            </div>

            <div id="pw-progress-bar-step-print" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div>Step 6</div>
                            <div class="font-weight-bold">Print Form</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-off"></div>
            </div>

            <div id="pw-progress-bar-step-next"  class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div>Step 7</div>
                            <div class="font-weight-bold">Next Steps</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-off"></div>
            </div>
        </div>
    </div>
</div>
