<div class="row">
    <div class="col-12">
        <div id="pw-progress-bar" class="d-flex">
            
            <div id="pw-progress-bar-step-previous-passport" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div class="font-weight-bold"><span class="pw-progress-bar-number">1</span> Previous Passport</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-on"></div>
            </div>

            <div id="pw-progress-bar-step-form" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div class="font-weight-bold"><span class="pw-progress-bar-number">2</span> Your Form</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-on"></div>
            </div>

            <div id="pw-progress-bar-step-fees" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div class="font-weight-bold"><span class="pw-progress-bar-number">3</span> Your Fees</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-on"></div>
            </div>

            <div id="pw-progress-bar-step-enter-data" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div class="font-weight-bold"><span class="pw-progress-bar-number">4</span> Enter Data</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-off"></div>
            </div>

            <div id="pw-progress-bar-step-review" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div class="font-weight-bold"><span class="pw-progress-bar-number">5</span> Review Your Info</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-off"></div>
            </div>

            <div id="pw-progress-bar-step-print" class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div class="font-weight-bold"><span class="pw-progress-bar-number">6</span> Print Form</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-off"></div>
            </div>

            <div id="pw-progress-bar-step-next"  class="pw-progress-bar-step">
                <a href="">
                    <div class="d-flex flex-row mb-2">
                        <div class="ml-2 text-left">
                            <div class="font-weight-bold"><span class="pw-progress-bar-number">7</span> Next Steps</div>
                        </div>
                    </div>
                </a>
                <div class="progress-bar-off"></div>
            </div>
        </div>
    </div>
</div>
